<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/css :: css}">
</head>

<body>

    <!-- Header -->
    <div th:replace="~{fragment/header :: header}"></div>

    <div class="container mt-5">

        <h2 class="mb-4 text-center">User List</h2>

        <table class="table table-bordered table-hover">

            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                <!-- Data will appear here later -->

            </tbody>

        </table>

    </div>

    <!-- Footer -->
    <div th:replace="~{fragment/footer :: footer}"></div>

    <!-- JavaScript -->
    <div th:replace="~{fragment/js :: js}"></div>

</body>
</html>