<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/css :: css}"></head>

<body>

<div th:replace="~{fragment/header :: header}"></div>

<div class="container mt-5">

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Edit Teacher</h3>
        </div>

        <div class="card-body">

            <form th:action="@{/users/update}" method="post" enctype="multipart/form-data"   th:object="${teacherObj}">

                <!-- Hidden ID -->
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{filePath}">

                <!-- Role ID -->
                <input type="hidden" th:field="*{roleId}"/>

                <div class="row">

                    <!-- Photo -->
                    <div class="col-md-4 text-center">

                        <img th:src="@{'/' + *{filePath}}"
                             width="180"
                             height="180"
                             class="rounded-circle border mb-3"/>

                        <input type="file"
                               class="form-control"
                               name="file">

                    </div>

                    <div class="col-md-8">

                        <div class="mb-3">
                            <label>Name</label>
                            <input type="text"
                                   class="form-control"
                                   th:field="*{name}">
                        </div>

                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email"
                                   class="form-control"
                                   th:field="*{email}">
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <input type="text"
                                   class="form-control"
                                   th:field="*{password}">
                        </div>

                        <div class="mb-3">
                            <label>Phone Number</label>
                            <input type="text"
                                   class="form-control"
                                   th:field="*{phoneNo}">
                        </div>

                        <div class="mb-3">
                            <label>Address</label>
                            <textarea class="form-control"
                                      rows="3"
                                      th:field="*{address}"></textarea>
                        </div>

                        <div class="mb-3">
                            <label>Date of Birth</label>
                            <input type="date"
                                   class="form-control"
                                   th:field="*{dob}">
                        </div>

                        <div class="mb-3">
                            <label>Gender</label>

                            <select class="form-control"
                                    th:field="*{gender}">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label>Status</label>

                            <select class="form-control"
                                    th:field="*{isActive}">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>

                        <button type="submit"
                                class="btn btn-success">
                            Update Teacher
                        </button>

                        <a th:href="@{/users/teacherLists}"
                           class="btn btn-secondary">
                            Cancel
                        </a>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

<div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>